.bodyCon{
 width: 100%;
 height: max-content;
 background-color: skyblue;
 overflow:  -moz-hidden-unscrollable;
}
.heroPart{
    width: 100%;
    height: 90vh;   
    background: url("../assets/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
}
.heroPart h1{
    text-align: center;
    font-size: 2rem;
    color: black;
}
.heroPart p{
    text-align: center;
    font-size: 1rem;
    color: black;
}
.leftContainer{
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 10px;
    /* background: #000; */
}

.arrowCon{
    /* width: 45%; */
    /* max-width: 100%; */
    /* height: 22%; */
    /* background-color: saddlebrown; */
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    /* background: url(../images/arrowPic.png); */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

    & img{
        max-width: 50%;
        /* width: 500px; */
    }
    
    
}
.rightContainer{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.452);
    float: right;
    background: url("../assets/asthmatic-page.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}