
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #45a049; */
    /* padding: 20px; */
  }
  .payment-form{
    width: 100%;
    height: 100%;
    /* background-color: #666; */
  }
  
  .payment-container {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
  }
  
  .donation-image {
    width: 40%;
    background-color: #f5efe9;
  }
  
  .donation-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .payment-form {
    width: 100%;
    padding: 40px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
  }
  
  /* .progress-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4CAF50;
  }
  
  .indicator-line {
    height: 2px;
    width: 30px;
    background-color: #4CAF50;
  } */
  
  .payment-methods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .payment-method {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.2s;
  }
  
  .payment-method.selected {
    border-color: #4CAF50;
  }
  
  .method-icon {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .card-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-row {
    display: flex;
    gap: 20px;
  }
  
  .half {
    width: 50%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-size: 14px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .card-number-input {
    position: relative;
  }
  
  .card-logo {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
  }
  
  .donate-button {
    width: 100%;
    padding: 12px;
    background-color: #125e64;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 25px;
  }
  .donate-button:hover {
    background-color: #0e4a50;
    transform: scale(1.05);
}
  
  @media (max-width: 768px) {
    .payment-container {
      flex-direction: column;
    }
    
    .donation-image, .payment-form {
      width: 100%;
    }
    
    .donation-image {
      height: 200px;
    }
    
    .payment-form {
      padding: 20px;
    }
  }