.fullwrap{
    width: 100%;
    height: 70vh;
    background-color: whitesmoke;
}

.footernotifications{
    width: 100%;
    height: 65vh;
    display: flex;
    gap: 20px;
 
}

.homeicon{
    width: 20%;
    height: 30%;
    margin-top: 100px;
    margin-left: 30px;
}

.writeupcont{
    width: 80%;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    margin-top: 90px;
}

h2{
    margin-bottom: 60px;
    
}

.h3{
    gap: 30px;
    margin-bottom: 20px;
}

.word{
    padding: 10px;
    gap: 20px;
    cursor: pointer;
}

.word1{
    padding: 10px;
    gap: 20px;
    /* cursor: pointer; */
}

.name1{
  font-size: 25px;
}

.wrapname{
    font-size: 25px;
}

p{
    padding: 10px;
    cursor: pointer;
}

.inputwrap{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.btn{
    width: 30%;
    height: 40px;
    margin-left: 130px;
    margin-top: 20px;
    background-color: darkcyan;
    font-weight: bolder;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

.socialmediawrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.iconwrap{
    width: 35%;
    display: flex;
    gap: 70px;
 


}

.mediaicon{
    width: 40px;
    height: 40px;
    margin-left: 25px;
}
p{
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;

}


@media (max-width: 768px) {
    .footernotifications {
        /* width: 90%; */
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        /* margin: 0 auto; */
    }

    .homeicon {
        width: 16%;
        height: auto;
        margin-right: 30px;
        /* margin-right: 0; */
    }

    .writeupcont {
        width: 25%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 0;
        margin-right: 20px;
    }

    .h2{
        font-size: 17px;
    }

    .h3{
        font-size: 15px;
    }

    .btn {
        width: 30%;
        margin: 10px auto;
    }

    .socialmediawrap {
        width: 70%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
        /* align-items: center; */
        margin-left: 0;
        margin-top: 70px;
        margin-left: 140px;
        /* gap: 10px; */
    }

    .iconwrap {
        /* width: 50px; */
        width: 65%;
        display: flex;
        /* justify-content: space-around; */
        gap: 1px;
    }

    .inputwrap{
        display: none;
    }

    .name1{
        display: none;
    }

    .word{
        font-size: 13px;
        /* cursor: none; */
         /* width: 30px; */
    }



    .wrapname{
        font-size: 13px;
        margin-top: 70px;
    }
}


@media (max-width: 480px) {
    .footernotifications {
        width: 50%;
        /* background-color: black; */
        /* height: auto;
        display: flex; */
        /* justify-content: space-around; */
        /* align-items: center; */
        gap: 2px;
        /* margin: 0 auto; */
    }

    .homeicon {
        width: 19%;
        height: auto;
        margin-right: 20px;
        /* margin-right: 0; */
    }

    .writeupcont {
        width: 100%;
        /* display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 0;
        margin-right: 20px; */
    }

    /* .h2{
        font-size: 3px;
    } */

    /* .h3{
        font-size: 2px;
    } */

    .btn {
        width: 30%;
        margin: 10px auto;
    }

    .socialmediawrap {
       width: 80%;
       margin: 0;
       margin-right: 50px;
       background-color: aqua;
        
    }

    .iconwrap {
        /* width: 50px; */
        width: 65%;
        display: flex;
        /* justify-content: space-around; */
        gap: 1px;
    }

    .inputwrap{
        display: none;
    }

    .name1{
        display: block;
        font-size: 13px;
       gap: none;
    }

    .word{
        font-size: 13px;
        margin-bottom: 10px;
        display: block;
        /* cursor: none; */
         /* width: 30px; */
    }

    .word1{
       display: none;
    }

    .wrapname{
        font-size: 12px;
        /* margin-top: 70px; */
    }
}
